body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:20px;
  width:432px;
  height:54px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:34px;
  width:140px;
  height:40px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:34px;
  width:140px;
  height:40px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:350px;
  height:244px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:116px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:147px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:147px;
  width:244px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:192px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:192px;
  width:244px;
  height:98px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:300px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:307px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:102px;
  width:350px;
  height:244px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:116px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:147px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:147px;
  width:244px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:192px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:192px;
  width:244px;
  height:98px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:300px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:307px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:382px;
  width:350px;
  height:244px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:396px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:427px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:427px;
  width:244px;
  height:25px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:472px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:472px;
  width:244px;
  height:98px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:580px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:587px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:382px;
  width:350px;
  height:244px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:396px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:427px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:427px;
  width:244px;
  height:25px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:472px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:472px;
  width:244px;
  height:98px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:580px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:587px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:662px;
  width:350px;
  height:244px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:676px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:707px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:707px;
  width:244px;
  height:25px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:752px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:752px;
  width:244px;
  height:98px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:860px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:867px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:662px;
  width:350px;
  height:244px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:676px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:707px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:707px;
  width:244px;
  height:25px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:752px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:752px;
  width:244px;
  height:98px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:860px;
  width:70px;
  height:32px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:867px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
