body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:20px;
  width:432px;
  height:54px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:350px;
  height:244px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:116px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:147px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:147px;
  width:244px;
  height:25px;
}
#u185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:192px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:192px;
  width:244px;
  height:98px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:307px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:102px;
  width:350px;
  height:244px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:116px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:147px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:147px;
  width:244px;
  height:25px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:192px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:192px;
  width:244px;
  height:98px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:307px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:382px;
  width:350px;
  height:244px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:396px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:427px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:427px;
  width:244px;
  height:25px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:472px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:472px;
  width:244px;
  height:98px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:587px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:382px;
  width:350px;
  height:244px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:396px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:427px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:427px;
  width:244px;
  height:25px;
}
#u206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:472px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:472px;
  width:244px;
  height:98px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:587px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:662px;
  width:350px;
  height:244px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:676px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:707px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:707px;
  width:244px;
  height:25px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:752px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:752px;
  width:244px;
  height:98px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:867px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:662px;
  width:350px;
  height:244px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:676px;
  width:118px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:707px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:707px;
  width:244px;
  height:25px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:752px;
  width:55px;
  height:21px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:752px;
  width:244px;
  height:98px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:98px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:867px;
  width:201px;
  height:18px;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:27px;
  width:140px;
  height:40px;
  font-family:'仿宋 Bold', '仿宋 Regular', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
